@charset "utf-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.900);
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    color: white;
}

fieldset {
    border: 1px solid dodgerblue;
}

legend {
    border: 1px solid dodgerblue;
    padding: 5px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 5px;
}

.inputbox {
    position: relative;
}

.inputuser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.inputlabel {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.3s;
}

.inputuser:focus ~ .inputlabel, .inputuser:valid ~ .inputlabel {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}



#inascimento {
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
}

#submit {
    background-image: linear-gradient(to right, rgb(0,92,197),rgb(90,20,220));
    width: 100%;
    border: none;
    padding: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(0,80,172),rgb(80,19,195));
}